@media (min-width:480px ) and (max-width: 1024px) {

    * {
        box-sizing: border-box;
    }

    body {
        /*background-color:aqua;*/
        width: 1024px;
        height: 1000px;
        margin: auto;
    }

    nav, article {
        display: block;
       
        /*border:1px solid black;*/
        float: left;
    }

    nav {
        width: 200px;
        height: 600px;
        /*kolor tła całego menu*/
        background-color: lightslategray;
    }

    article {
        width: 824px;
        height: auto;
        padding: 5px;
        overflow: auto;
        background-color: honeydew;
    }


    body > header {
        display: block;
        width: 1024px;
        height: 150px;
        border: 1px solid red;
        /*tło nagłówka całej strony-błękitne niebo*/
        background-image: url(góry/rozne/prez1.jpg);
        background-repeat: repeat-x;
        background-attachment: fixed;
    }

    body > footer {
        display: block;
        width: 824px;
        height: 45px;
        clear: both;
        background-color: lightgray;
        margin-left: auto;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}
@media (min-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    body {
        /*background-color:aqua;*/
        width: 1024px;
        height: 1000px;
        margin: auto;
    }

    nav, article {
        display: block;
        
        /*border:1px solid black;*/
        float: left;
    }

    nav {
        width: 200px;
        height: 600px;
        /*kolor tła całego menu*/
        background-color: lightslategray;
    }

    article {
        width: 824px;
        height: auto;
        padding: 5px;
        overflow: auto;
        background-color: honeydew;
    }


    body > header {
        display: block;
        width: 1024px;
        height: 150px;
        border: 1px solid red;
        /*tło nagłówka całej strony-błękitne niebo*/
        background-image: url(góry/rozne/prez1.jpg);
        background-repeat: repeat-x;
        background-attachment: fixed;
    }

    body > footer {
        display: block;
        width: 824px;
        height: 45px;
        clear: both;
        background-color: lightgray;
        margin-left:auto;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}
@media(max-width: 480px) {
    * {
        box-sizing: border-box;
    }

    body {
        /*background-color:aqua;*/
        width: 480px;
        height: 1000px;
        margin: auto;
    }

    article {
        display: block;
        height: 850px;
        /*border:1px solid black;*/
        float: left;
    }

    nav {
        width: 480px;
        /*kolor tła całego menu*/
        background-color: lightslategray;
        height:auto;
    }

    article {
        width: 480px;
        height: 850px;
        padding: 5px;
        overflow: auto;
        background-color: honeydew;
    }


    body > header {
        display: block;
        width: 480px;
        height: 150px;
        border: 1px solid red;
        /*tło nagłówka całej strony-błękitne niebo*/
        background-image: url(góry/rozne/prez1.jpg);
        background-repeat: repeat-x;
        background-attachment: fixed;
    }

    body > footer {
        display: block;
        width: 480px;
        height: 45px;
        clear: both;
        background-color: lightgray;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}
table {
    border: 1px double #000000;
    text-align:center;
    margin-left:5px;

}

tr > th {
    border: 1px double #000000;
    border-collapse:collapse;
}